:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--blac-primary);
}

button {
  background-color: var(--blac-secondary);
}

input {
  color: var(--blac-primary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--white-primary);
}
